#topmenu {    
	float: right;margin-top:10px;
}

/* #topmenu ul {
    margin: 0;
    padding: 0;    
    float: left;
	list-style-type: none;
}
#topmenu ul.topmenu {
    padding-left: 30px;
}
 */
#topmenu li {
	padding: 0 0 0 20px ;
    position: relative;
    z-index: 9;	
    margin: 0;
    /*padding: 0 5px 0 0;*/
    display: block;
    float: left;
}
#topmenu li:hover ul {
    left: 2px;
}

#topmenu a {
    position: relative;
    z-index: 10;
    height: 41px;	
    display: block;
    float: left;
    /*line-height: 41px;*/
    text-decoration: none;
    font: normal 12px Trebuchet MS;
}
#topmenu a:hover, div#topmenu a:hover span { color: #000; }
#topmenu li.current a {}

#topmenu span {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 0;
	
}

#topmenu a {
    padding: 0 10px 0 10px;
    line-height: 30px;
    color: #e5e5e5;
}
#topmenu li a
{
	border-radius: 7px;
	padding: 5px 10px; 
	background: #35718F; 
	text-decoration: none; 
	color: #fff;
}

#topmenu span {
    margin-top: 5px;
}

/* topmenu::level2 */
#topmenu ul ul li { background: none; }
#topmenu ul ul {
    position: absolute;
    top: 45px;
    left: -999em;
    /* width: 12px; */
    padding: 5px 0 0 0;    
    margin-top:1px;
}
#topmenu ul ul a {
    padding: 0 0 0 15px;
    height: auto;
    float: none;
    display: block;
    line-height: 24px;    
}

#topmenu ul ul span {
    margin-top: 0;
    padding-right: 15px;
    padding-right: 20px;
    
}

#topmenu ul ul li {
    width: 100%;
}
